In [2]:
!pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.2.2-cp39-cp39-win_amd64.whl (153 kB)
Requirement already satisfied: pillow in c:\users\91762\anaconda3\lib\site-packages (from wordcloud) (8.4.0)
Requirement already satisfied: matplotlib in c:\users\91762\anaconda3\lib\site-packages (from wordcloud) (3.4.3)
Requirement already satisfied: numpy>=1.6.1 in c:\users\91762\anaconda3\lib\site-packages (from wordcloud) (1.20.3)
Requirement already satisfied: cycler>=0.10 in c:\users\91762\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\91762\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\91762\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\91762\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: six in c:\users\91762\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.16.0)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.2.2

In [1]:
! pip install plotly

Requirement already satisfied: plotly in c:\users\91762\anaconda3\lib\site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\91762\anaconda3\lib\site-packages (from plotly) (8.1.0)

import pandas as pd
from wordcloud import WordCloud
import seaborn as sns
import re
import string
from collections import Counter, defaultdict

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from plotly.offline import plot

import matplotlib.gridspec as gridspec
from matplotlib.ticker import MaxNLocator
import matplotlib.patches as mpatches
import matplotlib.pyplot as plt

In [4]:
import os

In [5]:
# Set the data folder to let jupyter know where my dataset are
os.chdir(r'D:\college\BML\Module 6\NLP')

In [6]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopWords_nltk = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91762\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
data = pd.read_csv('tripadvisor_hotel_reviews.csv')

In [4]:
data.shape

(20491, 2)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [ ]:
'''source of data
algorithm applied
screen shot of the op
inerprating the o/p'''

In [6]:
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [7]:
data_review = data.drop('Rating', axis=1)
data_review.head(2)

                                              Review
0  nice hotel expensive parking got good deal sta...
1  ok nothing special charge diamond member hilto...

In [8]:
data_rating = data.drop('Review', axis=1)
data_rating.head(2)

   Rating
0       4
1       2

In [26]:
data_review[:1]

                                              Review
0  nice hotel expensive parking got good deal sta...

SyntaxError: invalid syntax (Temp/ipykernel_13356/1767704103.py, line 1)

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
text = ['Hello my name is james james','james this is my python notebook','james trying to create a big dataset','james of words to try differnt','features of count vectorizer']
coun_vect = CountVectorizer()
count_matrix = coun_vect.fit_transform(text)
count_array = count_matrix.toarray()
df = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
print(df)

   big  count  create  dataset  differnt  features  hello  is  james  my  \
0    0      0       0        0         0         0      1   1      2   1
1    0      0       0        0         0         0      0   1      1   1
2    1      0       1        1         0         0      0   0      1   0
3    0      0       0        0         1         0      0   0      1   0
4    0      1       0        0         0         1      0   0      0   0

   name  notebook  of  python  this  to  try  trying  vectorizer  words
0     1         0   0       0     0   0    0       0           0      0
1     0         1   0       1     1   0    0       0           0      0
2     0         0   0       0     0   1    0       1           0      0
3     0         0   1       0     0   1    1       0           0      1
4     0         0   1       0     0   0    0       0           1      0

C:\Users\91762\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [13]:
text

['Hello my name is james james',
 'james this is my python notebook',
 'james trying to create a big dataset',
 'james of words to try differnt',
 'features of count vectorizer']